@media (min-width: 0px) and (max-width: 1100px) {
    .first-box-menu {
        margin-left: 30px;
        margin-right: 0px;
        max-width: 100%;
    }
    .second-box-menu {
        margin-left: 30px;
        margin-right: 0px;
        max-width: 100%;
    }
    .h1-title-first-box {
        margin-left: 30px;
        margin-right: 0px;
    }
    .sub-h1-title-first-box {
        margin-left: 30px;
        margin-right: 0px;
    }
    .button-1-first-box {
        margin-left: 30px;
        margin-right: 0px;
    }
    .title-for-comp-box {
        margin-left: 30px;
    }
    .high-text-for-footer-row {
        margin-left: 30px;
    }
    .footer-row-h1-title {
        margin-left: 30px;
    }
    .footer-row-h2-title {
        margin-left: 30px;
    }
    .footer-row-button {
        margin-left: 30px;
    }
    .social-box {
        margin-left: 30px;
    }
    .succes-box {
        margin-left: 30px;
    }
    .new-more-section {
        margin-left: 30px;
    }
};

