.social-section {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.h3-box {
    width: 1170px;
    height: auto;
    
    margin-left: 159px;
    
}

.h3-title {
    margin-top: 0;
    font-size: 36px;
    line-height: 47px;
    color: #58585b;
    font-family: "Arial";
    max-width: 650px;
    font-weight: 400;
    
}

.h3-button {
    float: right;
    margin-top: -110px;
    width: 261px;
    height: 46px;
    border: 1px solid #37a7f8;
    background: none;
    color: #37a7f8;
    border-radius: 12px;
    font-size: 16px;
    font-family: "Arial";
    font-weight: bold;
    transition: 0.4s ease;
    cursor: pointer;
}

.h3-button:hover {
    background-color: #37a7f8;
    color: white;
}

.social-box {
    width: 1170px;
    height: 84px;
    margin-left: 159px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.social-img {
  padding-right: 72px;
}

.succes-box {
    display: flex;
    flex-direction: row;
    width: 1170px;
    height: 82px;
    margin-left: 159px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgb(1, 1, 1, 0.1);
}

.succes-title {
    display: flex;
    flex-direction: row;
    
    width: 282.5px;
    height: 72px;
    margin: 5px;
    box-shadow: 0 2px 10px rgb(12 77 129 / 5%);
    border: 1px solid #f0f1f2;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}

.succes-title:hover {
    margin-bottom: 10px;
    margin-right: 7px;
    box-shadow: 0 1px 2px rgb(12 77 129 / 90%);
}

.img-succes {
    width: 14px;
    height: 10px;
    margin-right: 15px;
    
}

.succes-text {
    width: 211.5px;
    height: 40px;
    color: #58585b;
    font-size: 16px;
    font-family: "Roboto";
    padding-top: 20px;
    
}

.new-more-section {
    width: 1170px;
    height: 200px;
    
    margin-left: 159px;
    margin-top: 50px;
}

.h1-title-for-new-more-section {
    font-size: 38px;
    line-height: 47px;
    color: #58585b;
    font-family: "Arial";
    margin-bottom: 100px;
    margin-top: 150px;
}

.new-promo-box {
    display: flex;
    flex-direction: row;
    flex: 1;
    
}

.first-section-new-promo-box {
    flex: 1;
}

.h2-title-for-new-promo-box {
    width: 545px;
    height: 64px;
    padding-top: 80px;
    padding-right: 40px;
    font-size: 16px;
    color: #58595B;
    font-family: "Roboto";
    margin-top: 50px;
}

.sub-title-new-promo-link {
    font-size: 16px;
    font-family: "Roboto";
    line-height: 22px;
    color: #58585b;
    margin-bottom: 10px;
    
}

.second-section-new-promo-box {
    flex: 1;
    
}

.img-for-new-promo-box {
    width: 540px;
    height: 425px;
    border-radius: 12px;
    margin-left: 40px;
    box-shadow: 0 40px 60px -20px rgb(0 0 0 / 20%);
}

@media (min-width: 0px) and (max-width: 1100px) {
    .first-box-menu {
        margin-left: 30px;
        margin-right: 0px;
        max-width: 100%;
    }
    .second-box-menu {
        margin-left: 30px;
        margin-right: 0px;
        max-width: 100%;
    }
    .h1-title-first-box {
        margin-left: 30px;
        margin-right: 0px;
    }
    .sub-h1-title-first-box {
        margin-left: 30px;
        margin-right: 0px;
    }
    .button-1-first-box {
        margin-left: 30px;
        margin-right: 0px;
    }
    .title-for-comp-box {
        margin-left: 30px;
    }
    .high-text-for-footer-row {
        margin-left: 30px;
    }
    .footer-row-h1-title {
        margin-left: 30px;
    }
    .footer-row-h2-title {
        margin-left: 30px;
    }
    .footer-row-button {
        margin-left: 30px;
    }
    .social-box {
        margin-left: 30px;
    }
    .succes-box {
        margin-left: 30px;
    }
    .new-more-section {
        margin-left: 30px;
    }
    .h3-box {
        margin-left: 30px;
    }
};



